/* Write your code here. */
.navbar {
  color: #ffffff;
  font-weight: bold;
  background-color: #9796f0;

  display: flex;
  padding: 2px 15px;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: 40px;
}
.row-ele {
  display: flex;
  align-items: center;
}
.score-margin {
  margin-right: 50px;
}
@media all and (max-width: 767px) {
  .navbar {
    font-size: 16px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .logo {
    height: 70px;
  }
  .score-margin {
    margin-right: 20px;
  }
}
